@model JimmyAlbarracin_Examen1P.Models.JA_Tabla1

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JA_Tabla1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreVideojuego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreVideojuego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContenidoPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContenidoPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="JA_Index">Back to List</a>
</div>
